.body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background-color: #837e7c;
  width: 25vw;
  height: 70vh;
  position: relative;
  margin-left: 38%;
  margin-top: 5%;
}

.search{
  height: 3vh;
  width: 15vw;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #161616;
}

.search::placeholder{
    color: #161616;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding: 1%;
}
.search:focus{
    border: 2px solid #161616;
    outline: none;
}


.btn{
  margin-left: 15%;
  border-radius: 60px;
  margin-top: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img{
  position: absolute;
  width: 3vw;
  height: 3vh;
  margin-top: -4%;
  margin-left: -2%;
}

.cloud{
  width: 15vw;
  margin-left: 20%;
}

h1{
  font-size: 5.5rem;
  margin-top: -15%;
  margin-left: 23%;
}

h3{
  font-size: 2.5rem;
  margin-top: -14%;
  margin-left: 35%;
}

.date{
  width: 8vw;
  height: 8vh;
  margin-left: 43%;
  margin-top: 8%;
}

.time{
  margin-left: 50%;
  margin-top: 0%;
}

.loader{
  margin-left: 42%;
  margin-top: 50%;
}

@media (max-width:320px) {
  .container{
    width: 70vw;
    height: 50vh;
    margin-left: 16%;
    margin-top: 55%;
  }

  h2{
    font-size: 1rem;
  }

  .search{
    width: 45vw;
  }

  .img{
    width: 9vw;
    height: 9vh;
    margin-top: -20%;
    margin-left: -9%;
  }

  .loader{
    margin-left: 33%;
    margin-top: 65%;
  }

  .cloud{
    width: 30vw;
    margin-left: 25%;
    margin-top: 10%;
  }

  h1{
    font-size: 3.5rem;
    margin-top: -4%;
    margin-left: 13%;
  }
  
  h3{
    font-size: 1.5rem;
    margin-top: -20%;
    margin-left: 35%;
  }
  
  .date{
    width: 10vw;
    height: 10vh;
    margin-left: 38%;
    margin-top: 25%;
  }
  
  .time{
    margin-left: 35%;
    margin-top: -10%;
  }
}

@media (max-width: 375px) {
  container{
    background-color: red;
  }
}